node_modules
julio
media
projects
reviews
exports
documents/REVIEW_*.md
app/resources/.osm_cache
app/resources/__py_cache__
dist
out
build
.DS_Store
.eslintcache
*.log*
.vscode
.env
.env.*

media/
*.vva
*.pdf
